<div class="block-workshop {{ component_class }}">
  <div class="container">
    <div class="block-bg-media block-bg-image" style="background-image: url({{ background_images.url }});">&#32;</div>
  </div>
  <div class="block-content">
    <div class="block-header">
      <div class="block-top-notice container"><img src="{{ top_notice.url }}"></div>
      <h2 class="block-title block-title-maill">{{ title_small }}</h2>
      <h2 class="block-title block-title-big">{{ title_big }}</h2>
    </div>
    <div class="container">
      <div class="block-workshop-content">{{ workshop_content }}</div>
      <div class="block-bottom">
        <div class="block-workshop-register-count"><span class="workshop-register-content">{{ __('Đã có', 'pdj_theme') }}</span> <span class="count">{{ workshop_register_count }}</span> <br>{{ __('người đăng ký', 'pdj_theme') }}</div>
        <div class="block-bottom-notice"><img src="{{ bottom_notice.url }}"></div>
      </div>
    </div>
  </div>
</div>
