<div  class="hero-banner-wrapper {{ component_class }}" style="min-height: 100vh;">
  <div class="hero-banner-media">
    <div class="hero-banner-image" style="background-image: url({{ hero_banner_image.url }});min-height: 100vh;">&#32;</div>
  </div>

  {% if block_subscribe %}
  <div class="block-subscribe">
    <div class="container">
      <div class="form-subscribe-inner">
        <span class="block-subscribe-button-close fa fa-times"></span>
        <div class="form-subscribe-header">
          <a href="#" class="subscribe-button">{{ __('Đăng ký ngay', 'pdj_theme') }}</a>
          <h2 class="block-title">{{ block_subscribe_title }}</h2>
        </div>
        {{ function('shortcode', '[contact-form-7 id="' ~ block_subscribe ~ '"]') }}
      </div>

      <div class="form-subscribe-notice">
        <span class="block-subscribe-button-open fa fa-angle-double-up"></span>
          <h2 class="block-title">{{ __('Đăng ký tham dự hội thảo') }}</h2>
      </div>
    </div>
  </div>
  {% endif %}

  {% if block_about_us %}
  <div class="block-about-us">
    <div class="container">
      <div class="row">
      {% for item in block_about_us %}
        <div class="about-item col-sm-4">
          <div class="about-icon">{{ item.about_icon.element }}</div>
          <div class="about-content">
            <h4 class="about-title">{{ item.about_title }}</h4>
            <div class="about-desc">{{ item.about_description }}</div>
          </div>
        </div>
      {% endfor %}
      </div>
    </div>
  </div>
  {% endif %}
</div>
