<div class="block-treatment-process {{ component_class }}">
  <div class="block-bg-media block-bg-image" style="background-image: url({{ background_image.url }})">&#32;</div>

  <div class="block-content">
    <div class="container">
      <div class="block-header">
        <h2 class="block-title">{{ process_title }}</h2>
      </div>

      {% if process_slide %}
      <div class="block-process-slide-wrapper">
        <div class="block-process-slide" data-time-speed="5000">
        {% for item in process_slide %}
          <div class="process-item">
            <div class="process-body">
              <span class="process-slide-number">{{ loop.index }}/</span>
              <h4 class="process-slide-title">{{ item.slide_title }}</h4>
            </div>
            <div class="process-media" style="background-image: url({{ item.slide_image.url }});">
              <img src="{{ item.slide_image.url }}">
            </div>
          </div>
        {% endfor %}
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</div>
